
/*
.home-container {
  position: relative;
  min-height: calc(100vh - 40px);
  width: 100%;
  background-image: url("https://images.pexels.com/photos/2131784/pexels-photo-2131784.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.home-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 700px;
  padding: 20px;
  backdrop-filter: white(6px);
  background: rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-content h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-content h1 span {
  color: #4caf50;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.explore-btn {
  background: #4caf50;
  color: white;
}

.explore-btn:hover {
  background: #388e3c;
}

.register-btn {
  background: white;
  color: #4caf50;
}

.register-btn:hover {
  background: #e8f5e9;
}
*/

.home-container {
  position: relative;
  min-height: calc(100vh - 40px);
  width: 100%;
  background-image: url("https://images.pexels.com/photos/2131784/pexels-photo-2131784.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 60px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* TEXT AREA */
.home-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 850px;
  padding: 10px 20px;
}

.home-content h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 12px;
}

.home-content h1 span {
  color: #4caf50;
}

.home-content p {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 35px;
}
.button-box {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;

  width: 100px;
  text-align: center;

  font-size: 15px;
  font-weight: 600;

  border-radius: 6px;
  text-decoration: none;

  transition: 0.3s ease;
}
.explore-btn {
  background: #4caf50;
  color: white;
}

.explore-btn:hover {
  background: #3e8e41;
}

.join-btn {
  background: #ff5722;
  color: white;
}

.join-btn:hover {
  background: #e64a19;
}
